body{
  background-image:url(和柄背景.png);
}
.main{
  background-image:url(top-img.jpg);
  background-size:cover;
  height:1000px;
}
.black{
  background-color:rgba(0,0,0,0.3);
  height:1000px;
}

/*　ヘッダー　*/
.header{
  background-color:#242424;
}

.sisimori{
  text-align: center;
  padding-top:15px;
}
.menu{
  text-align: center;
  padding:0px 0 20px 0;
}
.menu a{
  color:white;
  font-size: 20px;
  margin:0 40px;
  font-weight: bold;

}

/*　アイコンクリック画像　*/
.icon-container{
  text-align: center;
  margin:30px 0;
}
.icon-container img{
  width:28%;
  border-radius: 30px;
  margin:15px;
}
.icon-container img:hover{
  opacity:0.7;
}


/*　トピック　*/
.title{
  text-align: center;
  font-size: 50px;
  margin:0px 0 20px 0;
}
.topics{
  margin-bottom:25px;
}
.topic-block{
  background-color:#cbcbcb;
  border-radius: 20px;
  margin:auto;
  width:90%;
  padding:10px 0;
  margin-bottom:15px;
}
.topic-top{
  border-bottom:2px solid white;
  width:90%;
  padding-left:20px;
  padding-bottom:5px;
  margin-left:30px;
}
.topic-top p{
  margin:0px;
}
.top-day{
  font-size:21px;
  padding:17px 50px 0px 0px;
}
.top-title{
  font-size:30px;
  padding:0px 0 4px 0px;
}
.topic-text{
  padding-left:50px;
}

/* 関連リンク */
.link{
  text-align: center;
}
.link a{
 font-size:30px;
 font-weight:bold;
}

/*フッダー*/
.footer{
  background-color:#242424;
  color: #cbcbcb;
  text-align: center;
  margin:0px;
  padding:18px 0;
}
.footer h1{
  font-size: 17px;
  margin:0px;
}
.footer p{
  font-size: 8px;
  margin:4px;
}
.Facebook-icon{
  text-align: center;
  margin-top:50px;
}
.Facebook-icon p{
  padding:10px;
}
.Facebook{
  background-color:#3b5998;
  padding:20px 60px;
  font-size:20px;
  border-radius:5px;
  color:white;
}
