body{
  background-image:url(和柄背景.png);
}
/*へッダー*/
.header{
  display:flex;
}
.header a{
  font-weight: bold;
  color:white;
  display:auto;
  padding:50px 0;
  width:100%;
  background-color:#242424;
  text-align: center;
  font-size: 16px;
}
.header a:hover{
  background-color:#464646;
}

.title{
  font-size: 60px;
  text-align: center;
}

h1{
  font-size: 60px;
  text-align: center;
}

h2{
  text-align: center;
}

img{
  display: block;
  margin:auto;
  width: 80%;
}
p{
  margin:50px 0 5px 0;
  text-align: center;
  font-size: 25px;
  line-height :50px;
}

a{
  font-size: 25px;
  margin:50px 0 5px 0;
  display: block;
  text-align: center;
}
/*フッダー*/
.footer{
  background-color:#242424;
  color: #cbcbcb;
  text-align: center;
  margin:0px;
  padding:18px 0;
  margin-top: 100px;
}
.footer h1{
  font-size: 17px;
  margin:0px;
}
.footer p{
  font-size: 8px;
  margin:4px;
}
